<div id="modal-area" ng-if="modalOpen" ng-controller="modalController as vm">
    <div class="modal-bg" ng-click="vm.modalClose()"></div>
    <div class="modal-i">
        <div class="modal-header">
            <h3>Спасибо за интерес с USPY!</h3>
            <i class="fa fa-close" ng-click="vm.modalClose()"></i>
        </div>
        <div class="modal-body">
            <h4>Наш сервис скоро запустится. Следи за новостями в наших социальных сетях.</h4>
            <ul class="list-inline">
                <li>
                    <a href="//vk.com" target="_blank">
                        <i class="fa fa-vk fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="//fb.com" target="_blank">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="//twitch.com" target="_blank">
                        <i class="fa fa-twitch fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>