<div id="widgets">
    <div class="widgets-area">
        <div class="widget" ng-click="vm.addWidget('1')"
            uib-tooltip="Подписчики группы" tooltip-placement="right">
            <i class="fa fa-vk fa-2x ta-center"></i>
            <span>Подписчики группы</span>
        </div>
        <div class="widget" ng-click="vm.addWidget('1')"
             uib-tooltip="Количество комментов">
            <i class="fa fa-vk fa-2x ta-center"></i>
            <span>Количество комментов</span>
        </div>
        <div class="widget" ng-click="vm.addWidget('1')"
             uib-tooltip="Количество лайков">
            <i class="fa fa-vk fa-2x ta-center"></i>
            <span>Количество лайков</span>
        </div>
    </div>

</div>