#constructorPage {
  padding: @header-height @options-width 0 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  #workspace {
    position: absolute;
    top: @header-height;
    left: 0;
    right: @options-width;
    bottom: (@footer-height + @widgets-height);
    background: @border-color;
    overflow-y: auto;
    overflow-x: auto;
  }
  #widgets {
    position: absolute;
    height: @widgets-height;
    left: 0;
    right: @options-width;
    bottom: @footer-height;
    overflow: hidden;
    background: @widgets-bg-color;
    border-top: 1px solid @border-light-color;
  }

}


