.drag-return drag-item,
.drag-return .drag-item {
  -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
}
drag-item,
[drag-item],
.drag-item {
    position:absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 10;
}
drag-item:active,
[drag-item]:active,
.drag-item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.drag-content {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.drag-active {
  z-index: 20;
}
.clone {
  opacity: 0;
  z-index: 0;
}
.clone-active {
  opacity: 1;
  z-index: 9999;
}

.drag-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.drag-item {
    position:absolute;
}
.drag-content {
    width:100px;
    height:100px;
    border:4px solid #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    background:#fff;
    padding:12px;
}
.dropped .drag-content {
    background-color: #6f9;
}
.clone-active .drag-content,
.drag-active:not([clone]) .drag-content {
    transform: scale(1.15) rotate(3deg);
    background-color:#ffc;
    box-shadow: 0 1px 8px rgba(0,0,0,0.35);
}

.drop-spot {
    position:absolute;
    margin:auto;
    z-index:1;
    top:200px;
    left:200px;
    right:200px;
    bottom:200px;
}

.drop-content {
    border: 2px dashed rgba(0,0,0,0.15);
    background:#fff;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.dragging .drop-content {
    border: 2px dashed #999;
}
.drop-hovering .drop-content {
    border-color:#0c3;
    background: #dfd;
}
.drop-full {
    background: #fee;
}
.drop-hovering .drop-full {
    border-color:#f30;
    background:#fdd;
}
.drop-one p {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    height:24px;
    margin:auto;
    text-transform: uppercase;
    color:#ccc;
    text-align:center;
}
