<div id="header" ng-controller="headerController as vm">
    <div class="row">
        <div class="col-lg-4">
            <div class="pull-left main-menu">
                <h3>USPY</h3>
                <ul class="list-inline">
                    <li>Библиотека</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="size-input-inline">
                <span>Рабочая область</span>
                <input class="form-control input-sm" ng-model="vm.canvasWidth" placeholder="1024px"/>
                <input class="form-control input-sm" ng-model="vm.canvasHeight" placeholder="400px"/>
                <button class="btn btn-sm btn-warning" ng-click="vm.setCanvasSize(vm.canvasWidth, vm.canvasHeight)">Создать</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pull-right secondary-menu">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-eye fa-2x color-white" uib-tooltip="Просмотр готового варианта"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>