.customization-area
  .el-form
    .el-row
      margin 0 0 10px 0
      label
        display block
        width 100%
        margin: 5px 0 2px 0
        font-size 12px
      input
        width 100%
      .el-form-item__label
        margin 0
        width auto
        text-align left
        line-height 20px
      .el-form-item__content
        width auto
        line-height 20px
    .el-form-item
      margin 0 0 10px 0
      .el-form-item__label
        width auto
        text-align left
        line-height 20px
        display block
        margin 0
        font-size 12px
      .el-form-item__content
        width auto
        line-height 20px
