/*
$fontRootPath = '../fonts/'

fontFace($fontName, $fontFileName, $fontWeight, $fontStyle = normal)
	@font-face
		font-family $fontName
		src url($fontRootPath + $fontFileName + '.woff2') format('woff2'),
			url($fontRootPath + $fontFileName + '.woff') format('woff')
		font-weight $fontWeight
		font-style $fontStyle

fontFace('Lato', 'lato-light-webfont', 300);
fontFace('Lato', 'lato-regular-webfont', 400);
fontFace('Lato', 'lato-italic-webfont', 400, italic);
fontFace('Lato', 'lato-bold-webfont', 700);
fontFace('Lato', 'lato-black-webfont', 900);
fontFace('Nexa', 'nexa-light-webfont', 300);
fontFace('Nexa', 'nexa-regular-webfont', 400);
fontFace('Nexa', 'nexa-italic-webfont', 400, italic);
fontFace('Nexa', 'nexa-bold-webfont', 700);
fontFace('Open Sans', 'opensans-regular-webfont', 400);*/
