#indexPage {

  #section-head {
    -webkit-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, .7);
    -moz-box-shadow:    0px 0px 150px 0px rgba(0, 0, 0, .7);
    box-shadow:         0px 0px 150px 0px rgba(0, 0, 0, .7);
    padding: 70px 0 0 0;
    background: url('/src/img/bg/index-section1.jpg');
    .text-area {
      margin: 50px 0 120px 25px;
      h1 {
        width: 540px;
        font: 20px/25px @fm-m;
        color: @color-main;
      }
    }
    .img-area {
      width: 100%;
      margin: 0 auto 100px;
      padding: 0 174px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
#section-wit {
  background: url("/src/img/bg/section-wit-bg.jpg") no-repeat #29292e;
  background-size: cover;
  .title-area {
    h2 {
      font: 36px/40px @fm-m;
      color: @color-main;
      text-align: center;
      text-transform: uppercase;
      margin: 40px auto 5px;
    }
    h3 {
      font: 22px/25px @fm-m;
      color: @color-semi;
      text-align: center;
      width: 80%;
      margin: 0 auto 15px;
    }
  }
  .button-area {
    .btn-wit {
      background: #f04b48;
      height: 50px;
      width: 270px;
      text-align: center;
      font: 18px/50px @fm-m;
      color: #e4e4e4;
      padding: 0;
      margin: 0 auto;
      display: block;
      transition: .2s ease;
      vertical-align: middle;
      border-radius: 30px;
      text-transform: uppercase;
      &:hover {
        background: #e4e4e4;
        color: #f04b48;
        transition: .2s ease;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .hexagon-area {
    background: url("/src/img/bg/hexagon.png") center 60px no-repeat transparent;
   /* background-position-x: center;
    background-position-y: 60px;*/
    .top-row {
      margin-top: 170px;
      height: 330px;
      .h-l {
        padding-left: 150px;
      }
      .h-r {
        padding-right: 150px;
        &.hexagon-style {
          .title {
            text-align: right;
          }
          ul {
            li {
              padding: 0 20px 0 0;
              text-align: right;
              &:after {
                content:' -';
              }
              &:before {
                content: '';
              }
            }
          }
        }
      }
    }
    .hexagon-style {
      .title {
        font: 26px/26px @fm-m;
        color: @color-main;
        text-align: left;
        margin: 0 0 4px ;
        text-transform: uppercase;
        display: block;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          padding: 0 0 0 20px;
          text-transform: uppercase;
          font: 16px/20px @fm-m;
          color: @color-main;
          text-align: left;
          &:before{
            content:'- ';
          }
        }
      }
    }
    .bottom-row {
      height: 210px;






    }
  }


}
}

