<div class="container" id="section-builder">
    <div class="row red-nav ">
     <span class="red-block-nav">Что умеет наш конструктор</span>
    </div>
<div class="row builder-box-area">
    <div class="row hor-menu-b">
        <div class="logo-builder left-arrow col-lg-2">
            <span>USPY</span>
        </div>
        <div class="hor-menu-icons left-arrow">
            <div class="hor-menu-icon left-arrow {{row.blockClass}}"
                 ng-class="{'active': vm.active == row.index}"
                 ng-repeat="row in vm.social | orderBy: 'index' track by $index"
                 ng-click="vm.active = row.index">
                <i class="fa {{row.icon}}" aria-hidden="true"></i>
                <span class="align-text-icon ">{{row.text}}</span>
            </div>
        </div>
    </div>
    <div class="row ver-menu-b">
        <!--<div class="left-menu-b left-arrow col-lg-2">
            <ul>
                <li>
                    Интеграция
                </li>
                <li>
                    Оформление
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
            </ul>
        </div>-->
        <div class="info-block-b col-lg-12">
            <div class="row inform-acc-box">
                <!-- youtube -->
                <div ng-if="vm.active == 1">
                    <div class="row">
                        <span class="info-button">Информационный блок</span>
                    </div>
                    <div class="row">
                        <ol class="">
                            <li class="">Кол-во подписчиков:</li>
                            <li class="">Кол-во просмотров:</li>
                            <li class="">Онлайн:</li>
                            <li class="">Игра:</li>
                        </ol>
                    </div>
                </div>
                <!-- Vkontakte -->
                <div ng-if="vm.active == 2">
                    <div class="row">
                        <span class="info-button">Информационный блок</span>
                    </div>
                    <div class="row">
                        <ol class="">
                            <li class="">Кол-во подписчиков:</li>
                        </ol>
                    </div>
                </div>
                <!-- twitch -->
                <div ng-if="vm.active == 3">
                    <div class="row">
                        <span class="info-button">Информационный блок</span>
                    </div>
                    <div class="row">
                        <ol class="">
                            <li class="">57567567567</li>
                        </ol>
                    </div>
                </div>
                <!-- Facebook -->
                <div ng-if="vm.active == 4">
                    <div class="row">
                        <span class="info-button">Информационный блок</span>
                    </div>
                    <div class="row">
                        <ol class="">
                            <li class="">ghjghjghjg</li>
                        </ol>
                    </div>
                </div>
                <!-- OK -->
                <div ng-if="vm.active == 5">
                    <div class="row">
                        <span class="info-button">Информационный блок</span>
                    </div>
                    <div class="row">
                        <ol class="">
                            <li class="">999999</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="row button-area">
    <button class="btn btn-wit" ng-click="vm.modalOpen()">Узнать больше о конструкторе</button>
</div>

</div>