<div class="container" id="section-builder">
    <div class="row red-nav ">
     <span class="red-block-nav">Что умеет наш конструктор</span>
    </div>
<div class="row builder-box-area">
    <div class="row hor-menu-b">
        <div class="logo-builder left-arrow col-lg-2">
            <span>USPY</span>
        </div>
        <div class="hor-menu-icons left-arrow">
            <div class="hor-menu-icon left-arrow {{row.blockClass}}"
                 ng-class="{'active': vm.active == row.index}"
                 ng-repeat="row in vm.social | orderBy: 'index' track by $index"
                 ng-click="vm.active = row.index">
                <i class="fa {{row.icon}}" aria-hidden="true"></i>
                <span class="align-text-icon ">{{row.text}}</span>
            </div>
        </div>
    </div>
    <div class="row ver-menu-b">
        <div class="left-menu-b left-arrow col-lg-2">
            <ul>
                <li>
                    Интеграция
                </li>
                <li>
                    Оформление
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
                <li>
                    +menu
                </li>
            </ul>
        </div>
        <div class="info-block-b col-lg-10">
            <div class="row inform-acc-box">
                <span class="info-button">Информационный блок</span>
                <ul class="list-inline">
                <li class="btn-info-box-blue">Кол-во подписчиков:</li>
                <li class="btn-info-box-red">Кол-во просмотров:</li>
                <li class="btn-info-box-green">Онлайн:</li>
                <li class="btn-info-box-purple">Игра:</li>
                </ul>
                <span class="info-text">Текстовая нагрузка</span>
                <span class="petuh">ТЫ ТЕПУХ! <br> ИДИ НАХУЙ ГНИЛЬ, ТЫ НИКОМУ НЕ НУЖЕН!<br> ДАЖЕ СВОЕЙ МАТЕРИ!<br> ДОТВИДАНИНЯ))0) </span>

            </div>
        </div>

    </div>
</div>

</div>